@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3rem;
    color: #B55BB8;
}

h2, h3 {
    font-size: 1.7rem;
}

p, span {
    font-size: 1.5rem;
    font-weight: 300;
}

