.footer {
    background: linear-gradient(to bottom, #F7F0EF  10%,  #B55BB8 90%);
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer_copyright {
    color: #F7F0EF;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 10px;
}