.products-item {
    text-decoration: none;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
      1px 3px 8px rgba(39, 44, 49, 0.03);
    border-radius: 5px;
    margin: 0 0 20px 0;
    position: relative;
  }
  .product-item-info {
    padding: 10px;
  }
  .products-item-info h2 {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  .product-item-info p {
    font-size: 14px;
    font-weight: 300;
  }
  .product-item img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
    object-fit: contain;
  }
  .product-item button {
    background: #B55BB8;
    width: 100%;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    border: 0px;
    outline: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
  }
  .product-item button:hover {
    background-color: rgba(39, 44, 49, 0.06);
  }