.search {
    display: grid;
    grid-template-columns: 1.6fr 0.1fr;
}

.search_input input {
    padding: 1rem;
    width: 100%;
}

.search_icon {
    width: 2.8rem;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #B55BB8;
}